<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Главная</title>
</head>

<body>

<script src="https://telegram.org/js/telegram-web-app.js"></script>

<script>
  const tg = window.Telegram.WebApp;
  const initData = tg.initData;
  const initDataUnsafe = tg.initDataUnsafe;

  console.log("initData (строка):", initData);
  console.log("initDataUnsafe (объект):", initDataUnsafe);

  // Отправим данные на бэкенд
  fetch('/webapp-auth', {
    method: 'POST',
    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
    body: new URLSearchParams({initData})
  })
          .then(res => res.json())
          .then(user => {
            const fullName = [user.first_name, user.last_name].filter(Boolean).join(' ');
            const username = user.username ? `(@${user.username})` : '';
            document.getElementById("data").innerText = `Привет, ${fullName || 'друг'} ${username}`.trim();

            const photoUrl = initDataUnsafe.user.photo_url;
            if (photoUrl) {
              const img = document.getElementById("user-photo");
              img.src = photoUrl;
              img.style.display = 'block';
            }

          })
          .catch(err => {
            console.error('Ошибка аутентификации', err);
            document.getElementById("data").innerText = `Ошибка аутентификации! Друг, что-то не так с твоими данными`;
          });
</script>

<h1 th:text="${message}">Загрузка...</h1>

<div id="data" style="font-size: 24px; color: #cc3366; margin-top: 20px; margin-bottom: 20px;">
  Идет загрузка данных из Telegram...
</div>

<div id="user-info">
  <img id="user-photo" alt="Аватар пользователя"
       style="border-radius: 50%; display: none; width: 100px; height: 100px;">
</div>


<form action="/send" method="post">
  <input type="text" name="text" placeholder="Сообщение боту"/>
  <button type="submit">Отправить боту</button>
</form>

</body>
</html>
